@import './styles/var.scss';
@import './styles/color.css';

@import "tailwindcss";

#root {
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    height: var(--blink-scrollbar-width);
    width: var(--blink-scrollbar-width);
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: var(--blink-scrollbar-width);
    box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
}

::-webkit-scrollbar-thumb:active {
    border-radius: var(--blink-scrollbar-width);
    box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
}

.bg-card {
    background-color: var(--background-card);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text {
    color: var(--text-color);
}

div,
p {
    color: var(--text-color);
}

.ant-collapse-content-box,
.ant-modal-content,
.ant-modal-header,
.ant-table-container,
.ant-table-row-expand-icon {
    background-color: var(--background-card) !important;
}

.ant-modal-title,
.ant-modal-close {
    color: var(--text-color) !important;
}

.ant-table-cell-row-hover {
    background-color: var(--background-hover) !important;
}

.ant-pagination-item-link {
    background-color: var(--background-card) !important;
    color: var(--text-color) !important;
}